@CHARSET "ISO-8859-1";

#principal{
	position: absolute;
	top: 250px;
	left: 500px;
	width: 250px;
}

#listar{
	position: absolute;
	top: 50px;
	left: 300px;
	
}

#cadastro{
	position: absolute;
	top: 50px;
	left: 10px;
}

#validar{
	position: absolute;
	top: 50px;
	left: 800px;
}

#mensagem{
	position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
}